<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ModoPrueba" value="false"/>
    <add key="TwilioWhatsAppEnabled" value="true"/>
    <add key="TwilioModoProduccion" value="true"/>
    <add key="DiasRecordatorioDeuda" value="5"/>
    <add key="DiasRecordatorioMembresia" value="5"/>
    <add key="DiasRecordatorioMembresiaUrgente" value="1"/>
    <add key="IntervaloAutomatizacionMinutos" value="15"/>
    <add key="TwilioMaxReintentosMensajes" value="5"/>
    <!-- Credenciales: NO poner AuthToken aquí. Usar %LocalAppData%\MFFITNESS\twilio.secrets.config
         o variables TWILIO_ACCOUNT_SID / TWILIO_AUTH_TOKEN. Ver twilio.secrets.config.example -->
    <add key="TwilioAccountSid" value="" />
    <add key="TwilioAuthToken" value="" />
    <add key="TwilioPhoneNumber" value="+14247284594" />
    <add key="TwilioContentSidGenerico" value="HX4b6bbb98799fc7a7fe02187bceb46ecb" />
    <add key="TwilioContentVariableKey" value="1" />
    <add key="TwilioExigirEntregaConfirmada" value="true" />
    <add key="TwilioPermitirBodyEnProduccion" value="false" />
    <add key="TwilioIntentosConsultaEstado" value="6" />
    <add key="TwilioMilisegundosEntreConsultasEstado" value="2000" />
  </appSettings>
</configuration>
